In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
covid_file = "COVID-19_Cases_US.csv"

covid_df = pd.read_csv(covid_file)

In [3]:
covid_df

,X,Y,OBJECTID,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Admin2,FIPS,Combined_Key,Incident_Rate,People_Tested,People_Hospitalized,UID,ISO3
0,-82.461707,34.223334,1,South Carolina,US,2020/06/05 01:33:13+00,34.223334,-82.461707,46,0,0,46,Abbeville,45001.0,"Abbeville, South Carolina, US",187.548416,NaN,NaN,84045001,USA
1,-92.414197,30.295065,2,Louisiana,US,2020/06/05 01:33:13+00,30.295065,-92.414197,462,0,26,436,Acadia,22001.0,"Acadia, Louisiana, US",744.620840,NaN,NaN,84022001,USA
2,-75.632346,37.767072,3,Virginia,US,2020/06/05 01:33:13+00,37.767072,-75.632346,966,0,12,954,Accomack,51001.0,"Accomack, Virginia, US",2989.231341,NaN,NaN,84051001,USA
3,-116.241552,43.452658,4,Idaho,US,2020/06/05 01:33:13+00,43.452658,-116.241552,823,0,22,801,Ada,16001.0,"Ada, Idaho, US",170.893317,NaN,NaN,84016001,USA
4,-94.471059,41.330756,5,Iowa,US,2020/06/05 01:33:13+00,41.330756,-94.471059,9,0,0,9,Adair,19001.0,"Adair, Iowa, US",125.838926,NaN,NaN,84019001,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3026,-113.906667,32.768957,3027,Arizona,US,2020/06/05 01:33:13+00,32.768957,-113.906667,1643,0,23,1620,Yuma,4027.0,"Yuma, Arizona, US",768.521940,NaN,NaN,84004027,USA
3027,-102.425867,40.003468,3028,Colorado,US,2020/06/05 01:33:13+00,40.003468,-102.425867,42,0,0,42,Yuma,8125.0,"Yuma, Colorado, US",419.203513,NaN,NaN,84008125,USA
3028,-99.169872,27.001564,3029,Texas,US,2020/06/05 01:33:13+00,27.001564,-99.169872,11,0,0,11,Zapata,48505.0,"Zapata, Texas, US",77.579519,NaN,NaN,84048505,USA
3029,-99.760508,28.866172,3030,Texas,US,2020/06/05 01:33:13+00,28.866172,-99.760508,12,0,0,12,Zavala,48507.0,"Zavala, Texas, US",101.351351,NaN,NaN,84048507,USA
3030,-101.665462,44.978819,3031,South Dakota,US,2020/06/05 01:33:13+00,44.978819,-101.665462,1,0,0,1,Ziebach,46137.0,"Ziebach, South Dakota, US",36.284470,NaN,NaN,84046137,USA

In [4]:
covid_state = covid_df.groupby('Province_State')

In [5]:
covid_state_confirmed = covid_state['Confirmed'].sum()

In [6]:
covid_state_deaths = covid_state['Deaths'].sum()

In [7]:
state_confirmed = pd.DataFrame(covid_state_confirmed)
state_deaths = pd.DataFrame(covid_state_deaths)

In [8]:
state_merge = state_confirmed.merge(state_deaths, on='Province_State')

In [9]:
state_merge['Percent'] = state_merge['Deaths'] / state_merge['Confirmed'] * 100

In [10]:
state_merge = state_merge.reset_index()

In [11]:
state_merge= state_merge.rename(columns={
    'Province_State':'state',
    'Confirmed':'confirmed',
    'Deaths':'deaths',
    'Percent':'percent'})

In [12]:
state_merge

                   state  confirmed  deaths   percent
0                Alabama      19072     653  3.423867
1                 Alaska        512      10  1.953125
2                Arizona      22886     999  4.365114
3               Arkansas       8425     151  1.792285
4             California     122168    4444  3.637614
5               Colorado      27346    1512  5.529145
6            Connecticut      43239    4007  9.267097
7               Delaware       9746     386  3.960599
8   District of Columbia       9120     475  5.208333
9                Florida      60183    2607  4.331788
10               Georgia      49859    2149  4.310155
11                Hawaii        655      17  2.595420
12                 Idaho       2990      83  2.775920
13              Illinois     124759    5736  4.597664
14               Indiana      36096    2231  6.180740
15                  Iowa      20806     583  2.802076
16                Kansas      10167     227  2.232714
17              Kentucky      10705     458  4.278375
18             Louisiana      41562    2883  6.936625
19                 Maine       2446      95  3.883892
20              Maryland      55858    2668  4.776397
21         Massachusetts     102063    7201  7.055446
22              Michigan      58241    5595  9.606635
23             Minnesota      26273    1126  4.285769
24           Mississippi      16560     794  4.794686
25              Missouri      14438     795  5.506303
26               Montana        539      17  3.153989
27              Nebraska      15139     187  1.235220
28                Nevada       9111     429  4.708594
29         New Hampshire       4876     273  5.598852
30            New Jersey     162530   11970  7.364794
31            New Mexico       8353     383  4.585179
32              New York     375133   30174  8.043547
33        North Carolina      32075    1006  3.136399
34          North Dakota       2706      66  2.439024
35                  Ohio      37282    2340  6.276487
36              Oklahoma       6907     344  4.980455
37                Oregon       4474     159  3.553867
38          Pennsylvania      78335    5832  7.444948
39          Rhode Island      15325     756  4.933116
40        South Carolina      12415     501  4.035441
41          South Dakota       5162      62  1.201085
42             Tennessee      25190     401  1.591902
43                 Texas      70555    1776  2.517185
44                  Utah      10813     117  1.082031
45               Vermont       1026      55  5.360624
46              Virginia      47856    1445  3.019475
47            Washington      22729    1138  5.006819
48         West Virginia       2102      79  3.758325
49             Wisconsin      19892     626  3.146994
50               Wyoming        921      17  1.845820

In [13]:
state_merge.to_csv('Covid_C_D_byState.csv')

In [14]:
connection_string = "postgres:postgres@localhost:5432/ETL_Proj"
engine = create_engine(f'postgresql://{connection_string}')

In [15]:
engine.table_names()

['airport', 'confirmed', 'population']

In [16]:
state_merge.to_sql(name='confirmed', con=engine, if_exists='append', index=False)